*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8;
  font-weight: 500; }

.testimonials {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2.5rem;
  margin: 5% 18%; }
  @media screen and (max-width: 1200px) {
    .testimonials {
      margin: 5% 10%; } }
  @media screen and (max-width: 1024px) {
    .testimonials {
      margin: 5% 6%; } }
  @media screen and (max-width: 900px) {
    .testimonials {
      margin: 20% 5%;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }

.common-util {
  border-radius: 15px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.testimonial1 {
  background-color: #7541c8;
  grid-row: 1 / 2;
  grid-column: 1/span 2;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-x: 87%; }
  @media screen and (max-width: 900px) {
    .testimonial1 {
      grid-column: 1 / 2; } }

.testimonial2 {
  background-color: #48556a;
  grid-row: 1/ 2;
  grid-column: 3/4; }
  @media screen and (max-width: 900px) {
    .testimonial2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3; } }

.testimonial3 {
  background-color: white;
  grid-row: 2 / 3;
  grid-column: 1 / 2; }
  @media screen and (max-width: 900px) {
    .testimonial3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4; } }

.testimonial4 {
  background-color: #19212e;
  grid-row: 2 / 3;
  grid-column: 2 / span 2; }
  @media screen and (max-width: 900px) {
    .testimonial4 {
      grid-column: 1 / 2;
      grid-row: 4 / 5; } }

.testimonial5 {
  background-color: white;
  grid-row: 1 / span 2;
  grid-column: 4 / 5; }
  @media screen and (max-width: 900px) {
    .testimonial5 {
      grid-column: 1 / 2;
      grid-row: 5 / 6; } }

.review {
  border-radius: 10px;
  padding: 3rem 3.5rem;
  display: grid;
  grid-gap: 1.3rem;
  line-height: 1.3; }
  .review__user {
    display: flex;
    align-items: center; }
    .review__user-box {
      align-self: center; }
    .review__user-name {
      font-size: 1.3rem;
      color: #ecf2f8;
      font-weight: 600; }
    .review__user-name-b {
      font-size: 1.3rem;
      color: #48556a;
      font-weight: 600; }
    .review__user-detail {
      color: rgba(236, 242, 248, 0.5); }
    .review__user-detail-b {
      color: rgba(72, 85, 106, 0.5); }
  .review__photo {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__text-bold {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ecf2f8;
    margin-bottom: 1.5rem; }
  .review__text-normal {
    font-size: 1.1rem;
    color: rgba(236, 242, 248, 0.7); }
  .review__text-bold-b {
    font-size: 1.6rem;
    font-weight: 600;
    color: #48556a;
    margin-bottom: 1.5rem; }
  .review__text-normal-b {
    font-size: 1.1rem;
    color: rgba(72, 85, 106, 0.7); }

.border-1 {
  border: 2px solid rgba(236, 242, 248, 0.4); }

.border-2 {
  border: 2px solid #7541c8; }
